In [ ]:
pip install pyarrow

In [ ]:
pip install fastparquet

In [1]:
import json
import pandas as pd
import gzip
import ast
from datetime import datetime

Consigna:
def userforgenrer(genre : str ): Debe devolver el usuario que acumula mas mas jugadas para el genero dado y un listado de la acumulación de
horas jugadas por año de lanzamiento

In [ ]:
# Primero hare un auxiliar con las columnas genres,item_id y release_year
#Para eso primero secar genes y release year de steam_games  y item:id de user_items y el merge mediante item_name que es igual a app name

In [ ]:
# Ubicación local archivo steam games "C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_steam_games.parquet"
df_steam_games = r"C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_steam_games.parquet" 
df_steam_games = pd.read_parquet(df_steam_games )
df_steam_games

In [94]:
df3_aux_1 = df_steam_games

columnas_borrar = ['publisher',	'url',	'release_date',	'reviews_url',	'specs',	'price',	'early_access',	'id',	'developer']

df3_aux_1 = df3_aux_1.drop(columnas_borrar, axis=1)

In [ ]:
df3_aux_1.head()

In [96]:
# Cambio el nombre de app:name por item_name

df3_aux_1.rename(columns={'app_name': 'item_name'}, inplace=True)

In [97]:
df3_aux_1.head()

           genres            item_name  release_year
88310      Action  Lost Summoner Kitty        2018.0
88310      Casual  Lost Summoner Kitty        2018.0
88310       Indie  Lost Summoner Kitty        2018.0
88310  Simulation  Lost Summoner Kitty        2018.0
88310    Strategy  Lost Summoner Kitty        2018.0

In [98]:
df3_aux_1.size

663483

In [99]:
df3_aux_1 = df3_aux_1.dropna()

In [100]:
df3_aux_1 = df3_aux_1.drop_duplicates()

In [101]:
df3_aux_1.size

154107

In [ ]:
df3_aux_1.info()

In [103]:
# release_year lo debo dejar en int para que no tenga punto 

# primero verifico que todos sean numericos y si no los borro

df3_aux_1['release_year'] = pd.to_numeric(df3_aux_1['release_year'], errors='coerce')

In [104]:
mask = pd.notna(df3_aux_1['release_year'])

In [105]:
df3_aux_1 = df3_aux_1[mask]

In [106]:
# Ahora si cambio el tipo de floar a int

df3_aux_1['release_year'] = df3_aux_1['release_year'].astype(int)

In [ ]:
df3_aux_1.info()

In [108]:
# Ahora hago df3_aux_2 con item_id play_time forever y user id de  users_items

In [ ]:
# Ubicación local archivo steam games "C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_users_items.parquet"
df_users_items = r"C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_users_items.parquet"
df_users_items = pd.read_parquet(df_users_items )
df_users_items

In [110]:
df3_aux_2  = df_users_items

In [111]:
columnas_borrar_2 = ['items_count',	'user_url',	'playtime_2weeks']
df3_aux_2 = df3_aux_2.drop(columnas_borrar_2, axis=1)

In [ ]:
df3_aux_2.head()

In [113]:
df3_aux_2.size

20255432

In [114]:
df3_aux_2 = df3_aux_2.dropna()

In [115]:
df3_aux_2.size

20251292

In [116]:
df3_aux_2 = df3_aux_2.drop_duplicates()

In [117]:
df3_aux_2.size

20251180

In [118]:
# Ahora junto df3_aux_1 y df3_aux_2 mediante item_name

df3_aux_4 = pd.merge(df3_aux_1, df3_aux_2, on='item_name', how='inner'  )

In [ ]:
df3_aux_4.head()

In [120]:
df3_aux_4.size

32241864

In [ ]:
df3_aux_4.dropna()

In [122]:
df3_aux_4.size

32241864

In [ ]:
df3_aux_4.drop_duplicates()

In [124]:
df3_aux_4.size

32241864

In [ ]:
df3_aux_4.info()

In [127]:
# Guardo del df para se usado en la función

df3_aux_4.to_parquet('dataset_endpoint_3.parquet')